.breadcrumbs {
    padding: .5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb-items+.breadcrumb-items::before {
   
    padding-right: var(--bs-breadcrumb-item-padding-x);
   
    content:  " > ";
}