.MyDatePicker{

    max-width: 50vw;
    position: relative;
    @media screen and (max-width:600px){
        max-width:100vw
    }
    

}

.MyDatePicker .rmdp-input{
    height: 45.39px;
    width: 100%;
    text-align: center;
    
    border: var(--border-width);
    border-style: var(--border-style);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    &:focus{
        border: var(--border-width);
        border-style: var(--border-style);
        border-radius: var(--border-radius);
        box-sizing: border-box;
    }
}


  
  .MyDatePicker label {
    position: absolute;
    font-weight: normal;
    font-size: 13px;
    top: -13px;
    opacity: .98;
    padding: 2px;
    z-index: 2;
  }
  
  .rmdp-container{
    display: block!important;
  } 